.container
{
    width: 300px;
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid black;
    padding: 5px;
    margin: 15vh auto;
    box-sizing: border-box;
}
.user
{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: flex-around;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
    position: relative;
}
.user:last-child
{
    margin-bottom: 0;
}
.avatar
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.info
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name
{
    font-weight: bold;
}
.age
{
    font-size: 14px;
    font-style: italic;
    color: gray;
}
.email
{
    color: blue;
    font-size: 14px;
}
.delete
{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: red;
    font-size: 25px;
    border: 1px solid red;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add
{
    width: 80px;
    height: 30px;
    margin: 15px auto;
    display: block;
}

.wraper
{
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.modal
{
    width: 450px;
    padding: 35px 45px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 0 rbga(0,0,0,.7);
    background-color: white;
    flex-direction: column;
}
.form
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.field
{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.field-name
{
    color: gray;
    font-style: initial;
    margin-bottom: 5px;
}


.field-inp
{
    border: 1px solid lightgray;
    outline: none;
    height: 25px;
    padding-left: 10px;
    font-size: 20px;
}

.error-field
{
    border: 1px solid red;
}

.save
{
    width: 40%;
    height: 40px;
    outline: none;
    text-transform: uppercase;    
}