.button
{
    background: yellow;
    border: 1px solid green;
    padding: 20px 10px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.6);
    transition: .4s;

    display: flex;
    width: 200px;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 5px;
    &:hover
    {
        box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.1);
    }
}