.tvshow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid gray;
  user-select: none;
  margin-bottom: 5px;

  &__info {
    &-start {
      font-weight: bold;
      padding-right: 10px;
    }
  }
}
