<div class="header">
  <div class="header__links">
      <span class="header__links-item" routerLink="menu" routerLinkActive="header__link_active">Меню</span>
      <span class="header__links-item" [class.header__link_active]="isChannelsActive" (click)="rediretToChannels()">Каналы</span>
  </div>

  <div class="login">
    <span *ngIf="!isAuth">
      <img class="login__img" routerLink="login" src="../../../assets/user.png" alt="">
    </span>

    <span *ngIf="isAuth">
      <span>{{ username }}</span>
      <img class="login__img" (click)="logout()" src="../../../assets/user.png" alt="">
      </span>
  </div>

</div>
