.twoway
{
    border: 1px solid red;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 40px;
    align-items: center;
    background-color: plum;
    &__text
    {
        font-weight: bold;
        font-size: 25px;
    }
}