<h1>Channels page</h1>

<div class="list">
  <app-channel (channelSelectEvent)="onChannelSelected($event)" [channel]="item" [num]="i+1" *ngFor="let item of channels; let i = index"></app-channel>
</div>

<div class="list">
  <app-date [date]="item" (dateEvent)="onDateChange($event)" *ngFor="let item of uniqueDates"></app-date>
</div>

<div class="list">
  <app-tvshow [tvshow]="item" *ngFor="let item of shows"></app-tvshow>
</div>
