.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background-color: white;
    position: relative;
    width: 40%;
    height: 400px;
    box-sizing: border-box;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7);

    &__img {
      width: 30%;
    }

    &__description {
      font-style: italic;
      font-size: 18px;
    }

    .close {
      position: absolute;
      color: red;
      border: 2px solid red;
      cursor: pointer;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-style: bold;
      top: -25px;
      right: -25px;
      background-color: white;
    }
  }
}
