/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
