.login {
  margin: 30px auto;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 20px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;

  &__name {
    text-align: center;
    color: blue;
  }

  &__item {
    margin-bottom: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;


    .item-name {
      color: gray;
      font-style: italic;
      font-size: 15px;
    }

    .item-inp {
      width: 100%;
      border: 1px solid gray;
      padding-left: 10px;
      outline: none;
      margin-top: 10px;
      height: 30px;
      font-size: 20px;
    }
  }

  .submit {
    width: 150px;
    margin-top: 15px;
    border: none;
    outline: none;
    height: 40px;
    cursor: pointer;
    color: white;
    background: blue;
  }
}
