<h1>Content</h1>

<div class="masters">
  <div class="masters__item" *ngFor="let master of masters">{{ master.name }}</div>
</div>

<full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>
