.masters {
  border: 1px solid black;
  padding: 5px;

  &__item {
    padding: 10px 20px;
    border: 1px solid lightgray;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
