<div class="wrapper">
  <div class="modal">
    <div class="modal__close" (click)="closeModal()">
      <img class="modal__close-img" src="../../../assets/close.svg" alt="close">
    </div>

    <ng-container *ngIf="isRegistration then regTemplate else authTemplate"></ng-container>

  </div>
</div>


<ng-template #authTemplate>
  <form novalidate [formGroup]="userForm">
    <h2 class="title">Авторизация</h2>
    <div class="field">
      <span class="field__name">Email:</span>
      <input type="text" [class.field__inp_err]="email.errors && (email.touched || email.dirty)" class="field__inp" formControlName="email">
      <div class="field__errors" *ngIf="email.errors && (email.touched || email.dirty)">
          <span class="error-item" *ngIf="email.errors['required']">Обязательное поле</span>
          <span class="error-item" *ngIf="email.errors['email']">Некорректный email</span>
          <span class="error-item" *ngIf="email.errors['minlength']">Минимальная длина символов</span>
          <span class="error-item" *ngIf="email.errors['maxlength']">Максимальная длина символов</span>
      </div>
    </div>

    <div class="field">
      <span class="field__name">Пароль:</span>
      <input type="password" [class.field__inp_err]="password.errors && (password.touched || password.dirty)" class="field__inp" formControlName="password">
      <div class="field__errors" *ngIf="password.errors && (password.touched || password.dirty)">
          <span class="error-item" *ngIf="password.errors['required']">Обязательное поле</span>
          <span class="error-item" *ngIf="password.errors['minlength']">Минимальная длина символов</span>
          <span class="error-item" *ngIf="password.errors['maxlength']">Максимальная длина символов</span>
      </div>
    </div>

    <div class="buttons">
      <div class="buttons__item" (click)="auth()">
        Войти
      </div>

      <div class="buttons__item" (click)="toggleState()">
        Регистрация
      </div>
    </div>
  </form>
</ng-template>

<ng-template #regTemplate>
  <form novalidate [formGroup]="userForm">
    <h2 class="title">Регистрация</h2>
    <div class="field">
      <span class="field__name">Email:</span>
      <input type="text" class="field__inp" [class.field__inp_err]="email.errors && (email.touched || email.dirty)" formControlName="email">
      <div class="field__errors" *ngIf="email.errors && (email.touched || email.dirty)">
        <span class="error-item" *ngIf="email.errors['required']">Обязательное поле</span>
        <span class="error-item" *ngIf="email.errors['email']">Некорректный email</span>
        <span class="error-item" *ngIf="email.errors['minlength']">Минимальная длина символов</span>
        <span class="error-item" *ngIf="email.errors['maxlength']">Максимальная длина символов</span>
      </div>
    </div>

    <div class="field">
      <span class="field__name">Пароль:</span>
      <input type="password" [class.field__inp_err]="password.errors && (password.touched || password.dirty)" class="field__inp" formControlName="password">
      <div class="field__errors" *ngIf="password.errors && (password.touched || password.dirty)">
          <span class="error-item" *ngIf="password.errors['required']">Обязательное поле</span>
          <span class="error-item" *ngIf="password.errors['minlength']">Минимальная длина символов</span>
          <span class="error-item" *ngIf="password.errors['maxlength']">Максимальная длина символов</span>
      </div>
    </div>

    <div class="field">
      <span class="field__name">Подтверждение пароля:</span>
      <input type="password" [class.field__inp_err]="confirm.errors && (confirm.touched || confirm.dirty)" class="field__inp" formControlName="confirm">
      <div class="field__errors" *ngIf="confirm.errors && (confirm.touched || confirm.dirty)">
          <span class="error-item" *ngIf="confirm.errors['required']">Обязательное поле</span>
          <span class="error-item" *ngIf="confirm.errors['minlength']">Минимальная длина символов</span>
          <span class="error-item" *ngIf="confirm.errors['maxlength']">Максимальная длина символов</span>
      </div>
    </div>

    <div class="buttons">
      <div class="buttons__item" (click)="registration()">
        Зарегистрироваться
      </div>

      <div class="buttons__item" (click)="toggleState()">
        Авторизация
      </div>
    </div>
  </form>
</ng-template>
