.window
{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border: 4px solid #4a75a8;
    border-top: none;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0.5);
    border-radius: 2px;
    position: absolute;
    left: 20px;
    right: 20px;
}

.window_active
{
    box-shadow: 7px 7px 10px 0 rgba(0,0,0.6);
}
.window_hide
{
    transition: .5s;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
}
.window-text
{
    display: block;
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.header
{
    height: 40px;
    width: 100%;
    background-color: #4a75a8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    cursor: move;
}
.header-close
{
    margin-right: 5px;
    height: 30px;
    background-color: #ba3d2d;
    border-radius: 3px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}