.slider1
{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;
}
.slider1-img
{
    width: 200px;
    height: 200px;
}


.slider2
{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;
}
.slider2-img
{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;  
    opacity: 0;
    transition: .4s;
}
.slider2-group
{
    position: relative;
    width: 200px;
    height: 200px;
}


.slider3
{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px auto;
}
.slider3-group
{
    width: 200px;
    height: 200px;
    border: 2px, solid, red;
    overflow: hidden;
}
.line
{
    display: flex;
    transform: translateX(0);
    transition: .5s;
}
.slider3-img
{
    width: 200px;
    height: 200px;
}

.slickslide
{
    width: 40%;
}

.slick-list
{
    height: 180px;
}

.slick-track
{
    height: 100%;
}
.slick-track>img{
    margin: 0 5 px;
}