.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 50px;

  .menu {
    width: 400px;
    height: 90%;
    border: 1px solid red;
    padding: 5px;
  }
}
